---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - batch
  resources:
  - jobs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - jobsmanager.raczylo.com
  resources:
  - managedjobs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - jobsmanager.raczylo.com
  resources:
  - managedjobs/finalizers
  verbs:
  - update
- apiGroups:
  - jobsmanager.raczylo.com
  resources:
  - managedjobs/status
  verbs:
  - get
  - patch
  - update
